
.multiselect-native-select .btn-group {
    width: 100%;
    display: block;
}

.multiselect-native-select .btn-group {
    width: 100%;
    text-align: left;
}

.multiselect-native-select .multiselect.dropdown-toggle {
    width: 100%;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.divloader{
    position:fixed;
    width:100%;
    height:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    background:rgba(0, 0, 0, 0.4);
    z-index:9999;
}

#ctl00_MainContent_ReportViewer1_ctl05 {
    background: #428bca !important;
}