<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <!--<add name="ApplicationServices"
         connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true"
         providerName="System.Data.SqlClient" />-->
    <!--<add name="ConnectionString_behala" connectionString="Data Source=103.253.125.131,5000;Initial Catalog=behaladummy;Persist Security Info=True;User ID=sa;Password=o9EpDqA29W" providerName="System.Data.SqlClient"/>-->
    <!--<add name="ConnectionString_midnapur" connectionString="Data Source=103.253.125.131,5000;Initial Catalog=midnapurdummy;Persist Security Info=True;User ID=sa;Password=o9EpDqA29W" providerName="System.Data.SqlClient" />-->
    <!--<add name="ConnectionString_newalipore" connectionString="Data Source=103.253.125.131,5000;Initial Catalog=NewAliDummy;Persist Security Info=True;User ID=sa;Password=o9EpDqA29W" providerName="System.Data.SqlClient" />-->
    <add name="ConnectionString_master" connectionString="Data Source=103.253.125.131,5000;Initial Catalog=MendineMaster;Persist Security Info=True;User ID=sa;Password=o9EpDqA29W" providerName="System.Data.SqlClient"/>
    <add name="ConnectionString_newalipore" connectionString="Data Source=103.253.125.131,5000;Initial Catalog=NewAlipore;Persist Security Info=True;User ID=sa;Password=o9EpDqA29W" providerName="System.Data.SqlClient" />
    <add name="ConnectionString_dumdum" connectionString="Data Source=103.253.125.131,5000;Initial Catalog=DUMDUM;Persist Security Info=True;User ID=sa;Password=o9EpDqA29W" providerName="System.Data.SqlClient" />
    <add name="ConnectionString_behala" connectionString="Data Source=192.9.200.101;Initial Catalog=behala;User ID=sa;Password=admin@1234" providerName="System.Data.SqlClient" />
    <add name="webServices" connectionString="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" providerName="System.Data.SqlClient"/>
    <!--<add name="ConnectionString_master" connectionString="Data Source=192.9.200.101;Initial Catalog=Recruitment;User ID=sa;Password=admin@1234" providerName="System.Data.SqlClient" />
    
    <add name="ConnectionString_midnapur" connectionString="Data Source=192.9.200.101;Initial Catalog=midnapur;User ID=sa;Password=admin@1234" providerName="System.Data.SqlClient" />
    <add name="ConnectionString_newalipore" connectionString="Data Source=192.9.200.101;Initial Catalog=newalipore;User ID=sa;Password=admin@1234" providerName="System.Data.SqlClient" />
    <add name="ConnectionString_dumdum" connectionString="Data Source=192.9.200.101;Initial Catalog=dumdum;User ID=sa;Password=admin@1234" providerName="System.Data.SqlClient" />
    <add name="ConnectionString_malda" connectionString="Data Source=192.9.200.101;Initial Catalog=malda;User ID=sa;Password=admin@1234" providerName="System.Data.SqlClient" />-->
    <!--<add name="RecruitmentConnectionString" connectionString="Data Source=103.253.125.131,5000;Initial Catalog=Newali_dummy;Persist Security Info=True;User ID=sa;Password=o9EpDqA29W" providerName="System.Data.SqlClient" />
    <add name="ordins" connectionString="Data Source=103.253.125.131,5000;Initial Catalog=Newali_dummy;Persist Security Info=True;User ID=sa;Password=o9EpDqA29W" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880"/>
    </authentication>
    <customErrors mode="Off"/>
    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
      </providers>
    </membership>
    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/"/>
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/"/>
      </providers>
    </roleManager>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>